.headerButton {
  width: 100px;
  height: 34px;
  border: none;
  outline: none;

  border-radius: 80px;
  background: var(--Primary, #f4e041);

  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625;

  color: var(--Black-87, rgba(0, 0, 0, 0.87));
  text-align: center;

  cursor: pointer;

  &:hover {
    background: rgba(255, 227, 2, 1);
  }
}


.showMoreBtn {
  @extend .headerButton;

  width: 120px;
  display: block;
  margin: 50px auto 0;
}



.anchorButton {
  @extend .headerButton;
  
  .btnContent {
    text-decoration: none;
  
  color: var(--Black-87, rgba(0, 0, 0, 0.87));
  text-align: center;
  /* Body 16 */
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  }  
}

