.postSection {
    width: 360px;
    background-color: rgba(248, 248, 248, 1);
  
    margin: 0 auto;
  
    padding: 40px 0;
  
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1024px) and (max-width: 2560px) {
      width: 1024px;
    }
  
    @media screen and (min-width: 2560px) {
      width: 100%;
    }
  }
  
  .postSectionContainer {
    margin: 0 auto;
  
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1024px) and (max-width: 2560px) {
      width: 1024px;
    }
  
    @media screen and (min-width: 2560px) {
      width: 100%;
    }
  }
  
  .postSectionTitle {
    width: 328px;
  
    color: var(--Black-87, rgba(0, 0, 0, 0.87));
    text-align: center;
  
    /* H1 */
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  
    margin: 0 auto 0;
  }
  
  .postInput {
    display: block;
  
    width: 312px;
    height: 54px;
  
    border-radius: 4px;
    border: 1px solid #d0cfcf;
    background: var(--Background, #f8f8f8);
  
    margin: 50px auto 0;
    padding-left: 12px;
  
    outline: none;
  }
  
  .postInputError {
    border: 2px solid var(--error, #cb3d40);
  }
  
  .postInputUpload {
    @extend .postInput;
  
    color: #7e7e7e;
  
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625;
  
    margin: 0 auto;
  
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    // z-index: -1;
  }
  
  .errorMessage {
    position: absolute;
    color: var(--error, #cb3d40);
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-left: 32px;
    margin-top: 4px;
    bottom: -4;
  }
  
  .phonePattern {
    color: #7e7e7e;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.166;
    margin-left: 32px;
  }
  
  .phonePatternError {
    color: var(--error, #cb3d40);
  }
  
  .customFileInputLabel {
    position: relative;
    display: inline-block;
    padding: 13px 16px;
  
    cursor: pointer;
  
    color: var(--Black-87, rgba(0, 0, 0, 0.87));
    text-align: center;
    /* Body 16 */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1, 625;
  }
  
  .customFileInputContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
  
    width: 83px;
    height: 54px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid var(--Black-87, rgba(0, 0, 0, 0.87));
  
    margin: 0 auto;
  }
  
  .customFileInput {
    position: absolute;
    top: -1px;
    left: 84px;
  
    height: 54px;
    width: 245px;
  
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #d0cfcf;
    border-left: none;
    background: transparent;
  }
  
  .customFileInputText {
    display: inline-block;
    color: #7e7e7e;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625;
    margin: auto auto;
  
    margin-left: 16px;
    margin-top: 12px;
  }
  
  .container {
    width: 328px;
    display: block;
    margin: 47px auto 0;
  }
  
  .postReqRadioTitle {
    width: 328px;
    height: 25px;
  
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  
    margin: 0 auto;
  }
  
  .postReqRadioTitle {
    margin-top: 25px;
    margin-bottom: 11px;
  }
  
  // radio +++++++++++++++++++++
  
  .radioField {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  
    border: none;
    margin: 0 auto;
    padding: 0;
  }
  
  .radioInput {
    display: none;
  }
  
  .radioFieldLable {
    margin-left: 16px;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
  }
  
  .radioFieldLable::before {
    content: url("../../img/RadioUnchecked.svg");
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
  }
  
  .radioInput:checked + .radioFieldLable::before {
    content: url("../../img/RadioChecked.svg");
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    fill: blue;
    stroke: blue;
  }
  
  // radio end ==========================
  
  .inputContainer {
    position: relative;
    width: 360px;
    margin: 0 auto;
  }
  
  .inputLabel {
    position: absolute;
    top: 18px;
    left: 29px;
  
    color: #7e7e7e;
  
    /* Body 16 */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  
    cursor: auto;
  }
  
  .inputLabelChecked {
    @extend .inputLabel;
  
    background: var(--Background, #f8f8f8);
    top: -12px;
    left: 29px;
    padding: 0 4px;
  }
  
  .signUpBtn {
    display: block;
  
    width: 100px;
    height: 34px;
    border: none;
    outline: none;
  
    border-radius: 80px;
    background: var(--Primary, #f4e041);
  
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625;
  
    color: var(--Black-87, rgba(0, 0, 0, 0.87));
    text-align: center;
  
    cursor: pointer;
  
    margin: 50px auto;
  
    &:hover {
      background: rgba(255, 227, 2, 1);
    }
  }
  
  .signUpBtn:disabled {
    background-color: rgba(180, 180, 180, 1);
    color: white;
  }
  